<div class="filter-options">
    <mat-chip-list #chipList *ngIf="filtersAvailable">
        <mat-chip class="filter-option-item" *ngFor="let filterOption of filterOptions | keyvalue">
            <mat-icon>{{filterOption.value?.icon}}</mat-icon>
            <mat-form-field *ngIf="!isBoolean(filterOption.value?.values)" ngDefaultControl appearance="standard">
                <mat-label>{{filterOption.value?.displayName}}</mat-label>
                <input *ngIf="!(filterOption.value?.values)" matInput [type]="filterOption.key.toString() == 'trustworthiness'? 'number': 'text'" (input)="addValue(filterOption.key, $event.target.value)" placeholder="{{filterOption.value?.displayName}}"/>
                <mat-select *ngIf="isStringArray(filterOption.value?.values)" multiple>
                    <mat-option *ngFor="let optionValue of filterOption.value?.values" [value]="optionValue" (onSelectionChange)="addValue(filterOption.key, $event.source.value, true)">{{optionValue}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox *ngIf="isBoolean(filterOption.value?.values)" (change)="addValue(filterOption.key, $event.checked)">{{filterOption.key}}</mat-checkbox>
        </mat-chip>
    </mat-chip-list>
    <button (click)="applyFilter()">Apply filters</button>
</div>