.mat-sidenav-container {
  height: 100%;
  background-color: var(--background-contrast-color-05);
}

.sidenav {
  width: 250px;

  .sidenav-head {
    display: flex;
    height: 64px;
  }

  .sidenav-item {
    height: 64px;

    .sidenav-label {
      padding-left: 5px;
    }
  }
}

.userOptions {
    width: 250px;
}

.navbar {
  height: 50px;
  border: unset;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);;

  &.mat-toolbar-multiple-rows {
    min-height: 0;
  }

  .navbar-label {
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    margin-left: 5px;
    color: var(--primary-contrast-bw);
  }

  .navbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;

    .mobile-navbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: fit-content;

      .navbar-label {
        color: var(--primary-color);
        font-size: var(--font-size-normal);
      }

      button {
        background-color: transparent;
        box-shadow: none;
      }
    }

    .logo {
      height: 44px;
      cursor: pointer;
    }

    .user-options {
      display: flex;
      padding-left: 24px;

      .user-options-button {
        height: 24px;
        width: 24px;
        cursor: pointer;
        align-self: center;

        img {
          height: 40px;
          border-radius: 50%;
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);;
        }

        .logged-in, .logged-out {
          color: whitesmoke;
          width: 24px;
          height: 24px;
          line-height: 24px;
          font-size: 24px;
          border-radius: 50%;
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);;
        }

        .logged-in {
          background-color: var(--primary-color);
        }

        .logged-out {
          background-color: var(--primary-contrast-bw);
        }
      }
    }

    .mat-tab-nav-bar {
      border-bottom: none;
    }

    ::ng-deep .mat-tab-links {
      justify-content: flex-end !important;
    }

    .mat-tab-link {
      align-self: center;
      height: var(--line-height-big);
      min-width: 0;
      font-size: var(--font-size-normal);
      border-right: solid var(--background-contrast-color-10) 1px;

      &.active {
        span {
          color: var(--primary-color);
        }
      }
    }

    ::ng-deep .mat-ink-bar {
      display: none;
    }
  }
}

main {
  padding: 32px 32px;
  height: calc(100% - 50px - 2 * 32px);
}

.search {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 32px 32px 0;
}