Crawler/european_council/__pycache__
Crawler/.idea
Crawler/european_council/parser/__pycache__
Backend/findyourngo/.idea
Crawler/ngo_advisor/__pycache__
Crawler/ngo_advisor/parser_functions/__pycache__
*.log
Backend/.idea
Backend/findyourngo/__pycache__
Backend/findyourngo/restapi/__pycache__
Backend/findyourngo/restapi/migrations/__pycache__
Backend/findyourngo/data_import/__pycache__
Backend/findyourngo/data_import/european_council/__pycache__
.mypy_cache
Backend/findyourngo/data_import/ngo_advisor/__pycache__
Backend/findyourngo/data_import/ngo_advisor/parser_functions/__pycache__
Backend/__pycache__
Backend/findyourngo/tests/__pycache__
Backend/findyourngo/trustworthiness_calculator/__pycache__
Backend/findyourngo/filtering/__pycache__
Backend/findyourngo/restapi/controllers/__pycache__
Backend/findyourngo/restapi/serializers/__pycache__
Backend/findyourngo/restapi/paginators/__pycache__
Frontend/package-lock.json
Backend/findyourngo/restapi/tasks/__pycache__
Backend/findyourngo/restapi/migrations/0002_auto_20210208_1420.py
Backend/findyourngo/restapi/utils/__pycache__
Backend/findyourngo/restapi/migrations/0001_initial.py
Backend/nginx/dist/assets
Backend/nginx/dist
PerformanceTests/__pycache__
Backend/nginx/static_files
Backend/findyourngo/restapi/migrations/0002_auto_20210308_1056.py
