.limit-width {
  width: 300px;
  min-height: 35px;
}

.action-button {
  width: 300px;
  margin-bottom: 10px;
  margin-left: 0px !important;
}

mat-checkbox {
  padding-bottom: 16px;
}

.submit-block {
  display: flex;
  justify-content: space-between;
}
