h2 {
  margin-top: 10px;
}

.mat-button {
  margin-left: 16px;
}

.mat-card {
  width: 180px;
  margin-bottom: 4px;
}

.mat-form-field {
  width: 210px;
}

.connection-type-wrapper {
  display: flex;
  align-items: center;
}