.errorMessage {
  color: var(--threshold-negative);
}

.reviewText {
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: start;
}

.right-aligned {
  margin-left: auto;
}

.subtitle {
  color: var(--threshold-neutral);
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: start;
}


.title {
  font-size: 15px;
}
