.tw-rating {
  margin-top: 10px;
  margin-bottom: 30px;
}

.rating-header {
  margin-left: 4px;
}

.info-icon {
  color: var(--primary-color);
  padding-left: 16px;
  cursor: pointer;
}

.rating {
  display: flex;
  flex-direction: row;
}
