.tw-rating {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 32px;
}

.rating-header {
  margin-left: 4px;
}

.info-icon {
  color: var(--primary-color);
  padding-left: 16px;
  cursor: pointer;
}

.rating {
  display: flex;
  flex-direction: row;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  ngo-rating-table {
    width: 35%;
    min-width: 200px;
    margin-top: 32px;
  }

  ngo-tw-history {
    width: 55%;
    min-width: 200px;
    margin-top: 32px;
  }
}