<div class="rating-overview" fxLayout="row wrap">

  <div class="tw-rating" fxFlex="33%" fxFlex.sm="33%"
       fxFlex.xs="100%">
    <div class="rating">
      <star-rating [value]="totalTrustworthiness - 1" [editable]="false"></star-rating>
      <mat-icon class="info-icon" (click)="showInformation()">info</mat-icon>
    </div>

    <ngo-rating-table [reviewNumberIndexedByRating]="reviewNumberIndexedByRating"
                      [totalReviewNumber]="totalReviewNumber"
    ></ngo-rating-table>
  </div>
</div>
