.card {
  display: flex;
  align-self: center;
  margin: 24px auto auto auto;
}

.pointer {
  cursor: pointer;
}

h4 {
  font-style: italic;
}

.action-bar {
  display: flex;
  padding: 16px 32px 32px !important;
  justify-content: flex-end;
}
