<div class="star-rating-wrapper">
    <div class="star-rating">
        <div class="star-container" *ngFor="let i of starArray; let in=index">
            <mat-icon class="star" *ngIf="hasHalfStar && in == (value | valueTransformer: 'starRound')" (click)="editable? onClickItem(in): null">star_half</mat-icon>
            <mat-icon class="star" *ngIf="!hasHalfStar || in != (value | valueTransformer: 'starRound')" (click)="editable? onClickItem(in): null">{{in > (value | valueTransformer: 'starRound')? 'star_outline': 'star'}}</mat-icon>
        </div>
    </div>
    <div *ngIf="!withoutAmount" class="rating-values">
        <div class="rating-values-trustworthiness">{{value + 1 | number: '1.0-2'}}</div>
        <div class="rating-values-amount">( {{amount}} )</div>
    </div>
</div>
