.star-rating {
    display: flex;
    flex-direction: row;

    .star-container {
        &.empty {
            .star {
            color: gray;
            }
        }

        &.filled {
            .star {
            color: var(--primary-color)
            }
        }
    }
}