form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

select {
  width: 600px;
  margin-left: 24px;
}

hr {
  width: 40%;
}

.align-right {
  align-self: flex-end;
}

.page-transformation {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  justify-content: center;
  margin: 16px auto;
}

.separator {
  display: flex;
  margin-top: 80px;
  margin-bottom: 140px;
}

#flex-left {
  justify-content: left;
  align-items: center;
}
