<div class="page-transformation">
    <h1>Find your NGO</h1>
    <form [formGroup]="searchForm">
        <mat-form-field>
            <mat-label>Country of operation</mat-label>
            <mat-select formControlName="operation">
                <mat-option *ngFor="let c of countries" [value]="c">{{ c }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Region of operation</mat-label>
            <mat-select formControlName="region">
                <mat-option *ngFor="let c of regions" [value]="c">{{ c }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Head office</mat-label>
            <mat-select formControlName="office">
                <mat-option *ngFor="let c of countries" [value]="c">{{ c }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Field of activity</mat-label>
            <mat-select formControlName="topic">
                <mat-option *ngFor="let c of topics" [value]="c">{{ c }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Trustworthiness</mat-label>
            <mat-select formControlName="trust">
                <mat-option *ngFor="let c of trustworthiness" [value]="c">{{ c }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div class="align-right">
        <button (click)="onFormSearch()" mat-button mat-fab>
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="separator"><hr><span>or</span><hr></div>
    <h1>Search for a specific institution</h1>
        <form [formGroup]="nameForm">
              <mat-form-field class="example-full-width">
                  <mat-label>Search for your favorite NGOs</mat-label>
                  <textarea formControlName="name" matInput placeholder="Ex. International..."></textarea>
              </mat-form-field>
        </form>
        <button class="align-right" (click)="onNameSearch()" mat-button mat-fab>
            <mat-icon>search</mat-icon>
        </button>
</div>