<div class="back-button">
    <button mat-button (click)="back()">Back</button>
    </div>
<div class="card">
  <mat-card class="ngo-detail-item" fxFlex="1000px" fxFlex.xs="100%" fxFlex.sm="100%">
    <div class="ngo-header">
      <div>
        <h1>{{ngoDetailItem ? ngoDetailItem.name : ''}}</h1>
        <span fxFlex></span>
        <button mat-icon-button *ngIf="apiService.userid.getValue() != ''" (click)="toggleFavouriteStatus()">
          <mat-icon *ngIf="!userFavourite">favorite_outlined</mat-icon>
          <mat-icon *ngIf="userFavourite">favorite</mat-icon>
        </button>
      </div>

      <h2 *ngIf="ngoDetailItem?.acronym">{{ngoDetailItem.acronym}}</h2>
      <div class="ngo-rating">
        <star-rating [value]="ngoDetailItem?.rating.trustworthiness.values - 1"
                     [editable]="false"></star-rating>
        <div class="rating-values">
          <div
              class="rating-values-trustworthinesss">{{ngoDetailItem?.rating.trustworthiness.values}}</div>
          <div class="rating-values-amount">( {{ngoDetailItem?.rating.amount.values}} )</div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>

    <div class="ngo-content">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Information">
          <div class="ngo-details">
            <div class="ngo-content-container"
                 *ngFor="let ngoContentContainer of ngoContentContainers">
              <mat-icon
                  *ngIf="containerHasValues(ngoContentContainer)">{{ngoContentContainer.icon}}</mat-icon>
              <div class="content-column" *ngIf="containerHasValues(ngoContentContainer)">
                <div *ngFor="let ngoTitle of ngoContentContainer.values | keyvalue">
                  <div class="title-row" *ngIf="titleRowHasValues($any(ngoTitle.value).values)">
                    <span class="title">{{$any(ngoTitle.value).displayName}}</span>
                    <span class="content">{{$any(ngoTitle.value).values}}</span>
                  </div>
                </div>
              </div>
            </div>

            <ngo-rating [ngoId]="ngoDetailItem.id" [ngoName]="ngoDetailItem.name"></ngo-rating>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</div>

