<div class="filter-option-container" (keydown.enter)="applyFilter()" tabindex="0">
    <h1>Filters</h1>

    <div class="sorting-option-item" *ngIf="sortingOptions">
        <div class="sorting-label">Sort NGOs by ...</div>
        <mat-icon *ngIf="sortingSelection.orderToSort === 'asc'" (click)="changeSorting(sortingSelection.keyToSort, 'desc')">arrow_circle_down</mat-icon>
        <mat-icon *ngIf="sortingSelection.orderToSort === 'desc'" (click)="changeSorting(sortingSelection.keyToSort, 'asc')">arrow_circle_up</mat-icon>
        <mat-form-field ngDefaultControl appearance="standard">
            <mat-select [(ngModel)]="sortingSelection.keyToSort" (selectionChange)="changeSorting($event.value)">
                <mat-option *ngFor="let sortingOption of sortingOptions" [value]="sortingOption">{{sortingOption}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    <div *ngIf="filterOptions">
        <h2>Ngo-Details</h2>
        <div class="filter-option-category">
            <div class="filter-option-item" *ngFor="let ngoDetailOption of ngoDetails">
                <div *ngIf="this.filterOptions[ngoDetailOption]">
                    <ng-container [ngTemplateOutlet]="filterOptionItem"
                        [ngTemplateOutletContext]="{filterOption: this.filterOptions[ngoDetailOption], key: ngoDetailOption}">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div *ngIf="filterOptions">
        <h2>Headquarter</h2>
        <div class="filter-option-category">
            <div class="filter-option-item" *ngFor="let hqDetailOption of hqDetails">
                <div *ngIf="this.filterOptions[hqDetailOption]">
                    <ng-container [ngTemplateOutlet]="filterOptionItem"
                        [ngTemplateOutletContext]="{filterOption: this.filterOptions[hqDetailOption], key: hqDetailOption}">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div *ngIf="filterOptions">
        <h2>Credibility</h2>
        <div class="filter-option-category">
            <div class="filter-option-item" *ngFor="let credibilityOption of credibility">
                <div *ngIf="this.filterOptions[credibilityOption]">
                    <ng-container [ngTemplateOutlet]="filterOptionItem"
                        [ngTemplateOutletContext]="{filterOption: this.filterOptions[credibilityOption], key: credibilityOption}">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <button class="filter-apply" (click)="applyFilter()" mat-button>Apply filter</button>
</div>

<ng-template #filterOptionItem let-filterOption="filterOption" let-key="key">
    <mat-form-field *ngIf="!(filterOption.values | typeEvaluator: 'isBoolean')" ngDefaultControl appearance="standard">
        <mat-label>{{filterOption.displayName}}</mat-label>

        <input *ngIf="!(filterOption.values)" matInput
            (change)="addValue(key, $any($event.target).value)"
            placeholder="{{filterOption.displayName}}"
            [value]="filterSelection[key]? filterSelection[key]: ''"
            [type]="key == 'trustworthiness'? 'number': 'text'"
            [min]="key == 'trustworthiness'? 0: undefined"
            [max]="key == 'trustworthiness'? 5: undefined"/>

        <mat-select *ngIf="filterOption.values | typeEvaluator: 'isStringArray'" multiple
            [(ngModel)]="filterSelection[key]" (selectionChange)="addValue(key, $event.value)">
            <div *ngIf="filterOption.displayName !== 'Cities'; else cityBlock">
                <mat-option *ngFor="let optionValue of filterOption.values" [value]="optionValue">
                    {{optionValue}}
                </mat-option>
            </div>
            <ng-template #cityBlock>
                <mat-option *ngFor="let optionValue of getAvailableCities()" [value]="optionValue">
                    {{optionValue}}
                </mat-option>
            </ng-template>
        </mat-select>

    </mat-form-field>

    <mat-checkbox *ngIf="filterOption.values | typeEvaluator: 'isBoolean'" (change)="addValue(key, $event.checked)" [checked]="filterSelection[key]">{{key}}</mat-checkbox>
</ng-template>