:host {
  background: white;
  border-radius: 4px;
}

.card {
  display: flex;
  align-self: center;
  max-width: 1000px;
  margin: 24px auto auto auto;

  ::ng-deep .mat-card-title {
    font-size: 32px !important;
  }

  ::ng-deep .mat-card-header {
    justify-content: center;
  }
}

.header-icon {
  color: var(--primary-color);
  font-size: 32px !important;
  margin-top: -3px !important;
}


.content {
  margin-top: 48px;
}

span {
  font-size: var(--font-size-big);
  font-weight: bolder;
}

.text {
  font-size: var(--font-size-medium);
  line-height: 1.5;
}

.section-header {
  margin-bottom: 16px;

  .mat-icon {
    color: var(--primary-color);
    vertical-align: bottom !important;
    margin-right: 8px;
  }
}

p {
  text-align: justify;
}

ul {
  list-style-type: square;
}

.ngo-detail-item {

  padding: 32px 32px 16px 32px;

  mat-divider {
    position: relative;
    margin: 32px 32px 32px 0;
  }
}
