<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="assets/img/generic_user_profile.png"/>
    <mat-card-title>{{comment.userName}}</mat-card-title>
    <mat-card-subtitle>has written {{comment.commentsByUser}} {{comment.commentsByUser > 1
        ? "reviews" : "review"}}</mat-card-subtitle>
    <div>
      <star-rating [value]="comment.rating - 1" [editable]="false"></star-rating>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="buttons">
      <button mat-button (click)="edit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="reviewText">
      <p>{{comment.text}}</p>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <i class="editDate">last edited: {{comment.last_edited | date}}</i>
    <p *ngIf="errorMessage" class="errorMessage">{{errorMessage}}</p>
  </mat-card-footer>

</mat-card>
