.buttonBar {
  display: flex;
  justify-content: end;
  margin: 0 100px 0 0;
}

.button {
  min-width: 2%;
}

.buttonCurrent {
  min-width: 2%;
  border-color: var(--secondary-color);
  border-style: solid;
}
.content {
    display: flex;
    justify-content: center;

    .filter-drawer {
        position: absolute;
        width: 500px;
        top: 64px;
        left: 0
    }

    .filter-bar {
        width: 90%;
        margin: 16px 0;
    }
}
}
