.buttonBar {
  display: flex;
  justify-content: end;
  margin: 0 100px 0 0;
}

.button {
  min-width: 2%;
}

.buttonCurrent {
  min-width: 2%;
  border-color: var(--secondary-color);
  border-style: solid;
}

ngo-overview-item {
  cursor: pointer;
}