:host {
  background: white;
  border-radius: 4px;
}

.registerCard {
  display: flex;
  align-self: center;
  max-width: 1000px;
  margin: 24px auto auto auto;

  ::ng-deep .mat-card-title {
    font-size: 24px !important;
  }

  ::ng-deep .mat-card-header {
    justify-content: center;
  }
}

.content {
  margin-top: 48px;
}

p {
  font-size: var(--font-size-medium);
  line-height: 1.5;
}

.success-card {
  display: flex;
  align-self: center;
  margin: 24px auto auto auto;
}

.validation-error-message {
  color: var(--secondary-color);
}

.input {
  margin-bottom: 16px;
}

.info-container {
  margin-top: 32px;
  display: flex;
}

.info-boxes {
  margin-top: 12px;

  button {
    min-width: 200px;
    margin-bottom: 16px;
  }
}

.or-text {
  margin-top: 48px;
}

