<div class="registerCard" *ngIf="!registrationSuccessful">
  <mat-card fxFlex="1000px" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card-header>
      <mat-card-title>Register a new NGO</mat-card-title>
    </mat-card-header>

    <mat-card-content class="content">
      <div class="input">
        <p>Please enter your information below. After we have processed your application, you will
          be able
          to add further details.</p>
      </div>

      <form [formGroup]="group">
        <div class="infoGroup">
          <h4>General Information</h4>
          <div class="input">
            <mat-form-field>
              <mat-label>NGO name</mat-label>
              <input matInput type="text" formControlName="ngoNameControl"/>
            </mat-form-field>
            <div class="validation-error-message"
                 *ngIf="group.get('ngoNameControl').hasError('ngoNameDuplicate') && (group.touched || group.dirty)">
              Ngo name
              already exists.
            </div>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Country of headquarter</mat-label>
              <input matInput type="text" formControlName="countryControl"/>
            </mat-form-field>
          </div>
        </div>
      </form>
      <form [formGroup]="group">
        <div class="infoGroup">
          <h4>NGO Representative Information</h4>
          <div>
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input matInput type="text" formControlName="firstNameControl"/>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Last name</mat-label>
              <input matInput type="text" formControlName="lastNameControl"/>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Email address</mat-label>
              <input matInput type="text" formControlName="emailRepresentativeControl"/>
            </mat-form-field>
          </div>
        </div>
      </form>

      <div>
        <h4>User Account</h4>
        <div class="info-container" fxLayoutGap="16px grid" fxLayout="row wrap">
          <div class="info-column" fxFlex="45%">
            <form [formGroup]="group">
              <div class="infoGroup" formGroupName="userForm">
                <div>
                  <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username"/>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field>
                    <mat-label>Email address</mat-label>
                    <input matInput type="text" formControlName="email"/>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="text" formControlName="password"/>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>

          <p fxFlex="10%" class="or-text">or</p>

          <div fxFlex="45%" class="info-boxes">
            <div>
              <p>Use external provider to log in:</p>
            </div>
            <div>
              <mat-checkbox [ngModel]="googleLogin.getValue()"
                            (click)="toogleGoogleLoginStatus($event)"
                            [class.mat-checkbox-disabled]="facebookLogin.getValue()"
              >
                Google
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox [ngModel]="facebookLogin.getValue()"
                            (click)="toggleFacebookLoginStatus($event)"
                            [class.mat-checkbox-disabled]="googleLogin.getValue()"
              >
                Facebook
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button mat-button *ngIf="group.valid" (click)="submit()">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="registrationSuccessful" class="success-card">
  <mat-card>
    <mat-card-content>
      <p>Registration was successful. Your application will now be reviewed by the Find your NGO
        team.</p>
    </mat-card-content>
  </mat-card>
</div>
